<div class="container">
  <span>About me</span>
  <h1>My history</h1>

  <div class="container-about d-flex">
    <div class="box-1">
      <img src="assets/profile.jpg" alt="">
      <div class="tags">
        <span>Systems Analyst</span>
        <span>Front-end developer</span>
        <span>Security applications</span>
        <span>User interface</span>
        <span>It Governance</span>
        <span>UI/UX Enthusiast</span>
      </div>
    </div>

    <div class="box-2">
      <p>I have a degree in Systems Analysis and Development from PUCRS, and I currently work as a systems analyst at a
        bank.</p>
      <p>Since 2020, I've been immersed in technology—starting with development and design, evolving to understand
        security, governance, and compliance.</p>
      <p>In my work as an analyst, I divide my time between interface development and IT governance. This combination of
        technical and analytical skills is where I shine the most.</p>
    </div>
  </div>

</div>
